<div class="row">
    <div class="col-md-12 panel panel-default">
        <div class="panel-heading">Tags:
            <div class="btn-group">
                <button type="button" class="btn btn-link" ng-repeat="tag in tags">{{tag}}</button>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    Search:
                    <input ng-model="query">Sort by:
                    <select name="" id="" ng-model="orderProp">
                        <option value="name">Alphabetical</option>
                        <option value="price">Newest</option>
                    </select>
                </div>
                <div class="col-md-10">
                    <ul>
                        <li ng-repeat="phone in phones | filter:query | orderBy:orderProp">
                            <!--<a herf="#/phones/{{phone.id}}" class="thumb">
                                 <img src="" alt="" ng-src="{{phone.imageUrl}}"> 
                            </a>-->
                            <a href="#/phones/{{phone.id}}" target="_blank">{{phone.name}}</a>
                            <span>￥{{phone.price}}元</span>
                            <p>{{phone.snippet}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
